.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgba(255, 186, 95, 0.911), rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before, .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
  top: calc(50% - -118px);
  left: calc(50% - 104px);
  -webkit-animation-delay: 6480ms;
          animation-delay: 6480ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 6480ms;
          animation-delay: 6480ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - -135px);
  left: calc(50% - 142px);
  -webkit-animation-delay: 5108ms;
          animation-delay: 5108ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 5108ms;
          animation-delay: 5108ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - -114px);
  left: calc(50% - 183px);
  -webkit-animation-delay: 6994ms;
          animation-delay: 6994ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 6994ms;
          animation-delay: 6994ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - 175px);
  left: calc(50% - 105px);
  -webkit-animation-delay: 4164ms;
          animation-delay: 4164ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4164ms;
          animation-delay: 4164ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - -125px);
  left: calc(50% - 86px);
  -webkit-animation-delay: 6373ms;
          animation-delay: 6373ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 6373ms;
          animation-delay: 6373ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - 25px);
  left: calc(50% - 112px);
  -webkit-animation-delay: 4264ms;
          animation-delay: 4264ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 4264ms;
          animation-delay: 4264ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - -52px);
  left: calc(50% - 245px);
  -webkit-animation-delay: 2367ms;
          animation-delay: 2367ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 2367ms;
          animation-delay: 2367ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - 70px);
  left: calc(50% - 228px);
  -webkit-animation-delay: 6019ms;
          animation-delay: 6019ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 6019ms;
          animation-delay: 6019ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - -150px);
  left: calc(50% - 248px);
  -webkit-animation-delay: 7743ms;
          animation-delay: 7743ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 7743ms;
          animation-delay: 7743ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - 94px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 5118ms;
          animation-delay: 5118ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5118ms;
          animation-delay: 5118ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 125px);
  left: calc(50% - 194px);
  -webkit-animation-delay: 9031ms;
          animation-delay: 9031ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 9031ms;
          animation-delay: 9031ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% - -158px);
  left: calc(50% - 151px);
  -webkit-animation-delay: 3360ms;
          animation-delay: 3360ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 3360ms;
          animation-delay: 3360ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% - 25px);
  left: calc(50% - 269px);
  -webkit-animation-delay: 7329ms;
          animation-delay: 7329ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 7329ms;
          animation-delay: 7329ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% - 169px);
  left: calc(50% - 130px);
  -webkit-animation-delay: 2858ms;
          animation-delay: 2858ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 2858ms;
          animation-delay: 2858ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - 104px);
  left: calc(50% - 89px);
  -webkit-animation-delay: 3546ms;
          animation-delay: 3546ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 3546ms;
          animation-delay: 3546ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - -193px);
  left: calc(50% - 257px);
  -webkit-animation-delay: 2611ms;
          animation-delay: 2611ms;
}

.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 2611ms;
          animation-delay: 2611ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - 19px);
  left: calc(50% - 224px);
  -webkit-animation-delay: 7228ms;
          animation-delay: 7228ms;
}

.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 7228ms;
          animation-delay: 7228ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - -111px);
  left: calc(50% - 165px);
  -webkit-animation-delay: 8438ms;
          animation-delay: 8438ms;
}

.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8438ms;
          animation-delay: 8438ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - -172px);
  left: calc(50% - 220px);
  -webkit-animation-delay: 7888ms;
          animation-delay: 7888ms;
}

.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 7888ms;
          animation-delay: 7888ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% - -75px);
  left: calc(50% - 4px);
  -webkit-animation-delay: 3463ms;
          animation-delay: 3463ms;
}

.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 3463ms;
          animation-delay: 3463ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
/*# sourceMappingURL=shooting.css.map */