.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgba(255, 186, 95, 0.911), rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before, .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
  top: calc(50% - -41px);
  left: calc(50% - 22px);
  -webkit-animation-delay: 8326ms;
          animation-delay: 8326ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8326ms;
          animation-delay: 8326ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - 92px);
  left: calc(50% - 20px);
  -webkit-animation-delay: 7387ms;
          animation-delay: 7387ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 7387ms;
          animation-delay: 7387ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - 162px);
  left: calc(50% - 189px);
  -webkit-animation-delay: 9980ms;
          animation-delay: 9980ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 9980ms;
          animation-delay: 9980ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% - -92px);
  left: calc(50% - 113px);
  -webkit-animation-delay: 6288ms;
          animation-delay: 6288ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 6288ms;
          animation-delay: 6288ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% - 149px);
  left: calc(50% - 267px);
  -webkit-animation-delay: 1839ms;
          animation-delay: 1839ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 1839ms;
          animation-delay: 1839ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% - 192px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 7257ms;
          animation-delay: 7257ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 7257ms;
          animation-delay: 7257ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - 159px);
  left: calc(50% - 61px);
  -webkit-animation-delay: 7702ms;
          animation-delay: 7702ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 7702ms;
          animation-delay: 7702ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% - 74px);
  left: calc(50% - 85px);
  -webkit-animation-delay: 833ms;
          animation-delay: 833ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 833ms;
          animation-delay: 833ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% - -124px);
  left: calc(50% - 151px);
  -webkit-animation-delay: 6154ms;
          animation-delay: 6154ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 6154ms;
          animation-delay: 6154ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% - 148px);
  left: calc(50% - 205px);
  -webkit-animation-delay: 5011ms;
          animation-delay: 5011ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5011ms;
          animation-delay: 5011ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 199px);
  left: calc(50% - 208px);
  -webkit-animation-delay: 9350ms;
          animation-delay: 9350ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 9350ms;
          animation-delay: 9350ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% - -101px);
  left: calc(50% - 114px);
  -webkit-animation-delay: 9043ms;
          animation-delay: 9043ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 9043ms;
          animation-delay: 9043ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% - -54px);
  left: calc(50% - 247px);
  -webkit-animation-delay: 59ms;
          animation-delay: 59ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 59ms;
          animation-delay: 59ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% - -173px);
  left: calc(50% - 116px);
  -webkit-animation-delay: 1042ms;
          animation-delay: 1042ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 1042ms;
          animation-delay: 1042ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - 117px);
  left: calc(50% - 231px);
  -webkit-animation-delay: 4554ms;
          animation-delay: 4554ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4554ms;
          animation-delay: 4554ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - -118px);
  left: calc(50% - 299px);
  -webkit-animation-delay: 7293ms;
          animation-delay: 7293ms;
}

.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 7293ms;
          animation-delay: 7293ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - 13px);
  left: calc(50% - 180px);
  -webkit-animation-delay: 9528ms;
          animation-delay: 9528ms;
}

.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 9528ms;
          animation-delay: 9528ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - 49px);
  left: calc(50% - 118px);
  -webkit-animation-delay: 3713ms;
          animation-delay: 3713ms;
}

.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 3713ms;
          animation-delay: 3713ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - -80px);
  left: calc(50% - 217px);
  -webkit-animation-delay: 2866ms;
          animation-delay: 2866ms;
}

.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2866ms;
          animation-delay: 2866ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% - 174px);
  left: calc(50% - 281px);
  -webkit-animation-delay: 977ms;
          animation-delay: 977ms;
}

.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 977ms;
          animation-delay: 977ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
/*# sourceMappingURL=shooting.css.map */