$white: #fff;
$black: #000;
$wild-sand: #f5f3f3;
$french-gray: #cecdcf;
$vanilla-ice: #f5dadf;
$mischka: #e2e0e3;
$givry: #f9dbc6;
$bon-jour: #edebed;
$jagged-ice: #c3e5e9;
$shadow-green: #99c4c8;
$conch: #c0d5cf;
$gray-nurse: #e2e8de;
$pampas: #f2ece8;
$divider-color: #f1f2f4;

$pTextFamily: "Montserrat";

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;

@mixin respond-to($breakpoint) {
  // # if the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    //   prints a media query based on the vaule
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  //   if keys doesn't exist warn
  @else {
    @warn "Unfortunately no value retrieved from #breakpoint "
            + "Available breakpoints are: #{map-keys($breakpoints)}";
  }
}

.what_container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid $divider-color;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 100%;

  @include respond-to(large) {
    max-width: 1184px;
  }

  @include respond-to(medium) {
    max-width: 1156px;
  }
  @include respond-to(small) {
    max-width: 960px;
  }

  .what_container-inner {
    background-color: $pampas;
    flex-wrap: wrap;
    display: flex;

    justify-content: center;
    width: 100%;
    max-width: calc(1200px - 10rem);
    // padding-right: 5rem;
    // padding-left: 5rem;

    @include respond-to(large) {
    }

    @include respond-to(medium) {
      //   padding-right: 1rem;
      //   padding-left: 1rem;
    }
    @include respond-to(small) {
    }
    // margin-right: calc(-16px / 2);
    // margin-left: calc(-16px / 2);
  }
}

.what_content_right {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 20rem;
  // background-color: grey;
  //   flex-basis: 33.33%;
  flex-shrink: 1;
  flex-grow: 1;
  // height: 20rem;
  background-color: white;
}

.what_content_left {
  min-width: 20rem;
  background-color: white;
  flex-basis: 33.33%;
  flex-shrink: 1;
  flex-grow: 1;
  // height: 2rem;
  color: black;
  padding-left: 2rem;

  .div_outside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: left;
    font-family: $pTextFamily;
    position: relative;

    h3 {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 0.8rem;
      border-bottom: 0.1px solid hsl(0, 0%, 80%);
    }

    p {
      margin-top: 0;
      font-size: 14px;
    }
  }

  .what_item {
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;

    .div_outside {
      max-width: 11rem;
      margin-bottom: 3rem;

      img {
        max-width: 2.5rem;
        width: 2.5rem;
        margin-bottom: 0.25rem;
      }
      h3 {
        font-weight: 500;
        padding: 0;
        margin: 0;
      }
      p {
        margin: 0;
        color: #505256;
        line-height: 24px;
        font-size: 14px;
        padding: 0;
      }
    }
  }
}

//right section

.spinner {
  min-height: 50px;
  border: 2px solid hsl(100, 50%, 50%);
}

.card {
  width: 240px;
  margin: 2rem;
  padding: 64px 32px;
}
.div_inside {
  display: flex;
  flex-direction: row;
  // background-color: hsl(100, 50%, 50%);
  padding-top: 1rem;
}
