<body
  id="yDmH0d"
  class="tQj5Y ghyPEc IqBfM ecJEib EWZcud EIlDfe d8Etdd cjGgHb LcUz9d uOat3d"
  style="
    bottom: auto;
    right: auto;
    width: auto;
    height: 100%;
    min-height: 2532px;
  "
>
  <c-wiz class="zQTmif SSPGKf" view=""
    ><div class="T4LgNb" jsname="a9kxte">
      <div class="VjFXz"></div>
      <div class="S3RDod">
        <div class="ggt41e">
          <div class="Qcuypc">
            <div class="YpQfNc">
              Premium video meetings. Now free for everyone.
            </div>
            <div class="rH9mRb">
              We re-engineered the service we built for secure business
              meetings, Google Meet, to make it free and available for all.
            </div>
            <div class="Ez8Iud">
              <div class="VfPpkd-xl07Ob-XxIAqe-OWXEXe-oYxtQd">
                <div jsname="WjL7X">
                  <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb">
                    <button
                      class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe cjtUbb Dg7t5c"
                      autofocus="autofocus"
                    >
                      <div class="VfPpkd-Jh9lGc"></div>
                      <i
                        class="google-material-icons VfPpkd-kBDsod"
                        aria-hidden="true"
                        >video_call</i
                      ><span jsname="V67aGc" class="VfPpkd-vQzf8d"
                        >New meeting</span
                      >
                      <div class="VfPpkd-RLmnJb"></div>
                    </button>
                  </div>
                </div>
                <div jsname="U0exHf">
                  <div
                    class="VfPpkd-xl07Ob-XxIAqe VfPpkd-xl07Ob q6oraf P77izf IPsnnf"
                  >
                    <ul
                      class="VfPpkd-rymPhb VfPpkd-rymPhb-OWXEXe-QGMm5d-rymPhb r6B9Fd"
                      role="menu"
                      tabindex="-1"
                      aria-label="New meeting"
                    >
                      <span
                        class="VfPpkd-BFbNVe-bF1uUb NZp2ef"
                        aria-hidden="true"
                      ></span>
                      <li
                        class="VfPpkd-rymPhb-ibnC6b"
                        aria-label="Get a meeting link to share"
                        role="menuitem"
                        tabindex="-1"
                      >
                        <span class="VfPpkd-rymPhb-pZXsl"></span
                        ><span class="VfPpkd-rymPhb-f7MjDc"
                          ><i class="google-material-icons" aria-hidden="true"
                            >link</i
                          ></span
                        ><span jsname="K4r5Ff" class="VfPpkd-rymPhb-b9t22c"
                          >Get a meeting link to share</span
                        >
                      </li>
                      <li
                        class="VfPpkd-rymPhb-ibnC6b JS1Zae"
                        aria-label="Start an instant meeting"
                        role="menuitem"
                        tabindex="-1"
                      >
                        <span class="VfPpkd-rymPhb-pZXsl"></span
                        ><span class="VfPpkd-rymPhb-f7MjDc"
                          ><i class="google-material-icons" aria-hidden="true"
                            >add</i
                          ></span
                        ><span jsname="K4r5Ff" class="VfPpkd-rymPhb-b9t22c"
                          >Start an instant meeting</span
                        >
                      </li>
                      <li
                        class="VfPpkd-rymPhb-ibnC6b"
                        aria-label="Schedule in Google Calendar"
                        role="menuitem"
                        tabindex="-1"
                      >
                        <span class="VfPpkd-rymPhb-pZXsl"></span
                        ><span class="VfPpkd-rymPhb-f7MjDc"
                          ><i class="google-material-icons" aria-hidden="true"
                            >calendar_today</i
                          ></span
                        ><span jsname="K4r5Ff" class="VfPpkd-rymPhb-b9t22c"
                          >Schedule in Google Calendar</span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="KOM0mb">
                <div class="Ufn6O FN9m1d AmoCp">
                  <label
                    class="VfPpkd-fmcmS-yrriRe VfPpkd-fmcmS-yrriRe-OWXEXe-mWPk3d VfPpkd-ksKsZd-mWPk3d VfPpkd-fmcmS-yrriRe-OWXEXe-di8rgd-V67aGc VfPpkd-fmcmS-yrriRe-OWXEXe-INsAgc VfPpkd-fmcmS-yrriRe-OWXEXe-SfQLQb-M1Soyc-Bz112c cfWmIb orScbe XfeBDf h7XSnb"
                    ><i
                      class="material-icons-extended VfPpkd-fmcmS-TvZj5c VfPpkd-fmcmS-TvZj5c-OWXEXe-M1Soyc"
                      aria-hidden="true"
                      >keyboard</i
                    ><input
                      type="text"
                      value=""
                      autocomplete="chr-off"
                      id="i2"
                      class="VfPpkd-fmcmS-wGMbrd B5oKfd"
                      aria-controls="i3"
                      aria-describedby="i3"
                      placeholder="Enter a code or link"
                      spellcheck="false"
                      maxlength="50" /><span
                      class="VfPpkd-NSFCdd-i5vt6e VfPpkd-NSFCdd-i5vt6e-OWXEXe-di8rgd-V67aGc"
                      ><span class="VfPpkd-NSFCdd-Brv4Fb"> </span
                      ><span class="VfPpkd-NSFCdd-MpmGFe"></span></span
                  ></label>
                  <div class="VfPpkd-fmcmS-yrriRe-W0vJo-RWgCYc">
                    <p
                      id="i3"
                      class="VfPpkd-fmcmS-yrriRe-W0vJo-fmcmS"
                      aria-hidden="true"
                    ></p>
                  </div>
                </div>
                <div
                  class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"
                  data-is-touch-wrapper="true"
                >
                  <button
                    class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-dgl2Hf ksBjEc lKxP2d cjtUbb eLNT1d"
                  >
                    <div class="VfPpkd-Jh9lGc"></div>
                    <span jsname="V67aGc" class="VfPpkd-vQzf8d">Join</span>
                    <div class="VfPpkd-RLmnJb"></div>
                  </button>
                </div>
              </div>
            </div>
            <div class="Vctqkd"></div>
            <div class="bpZLge">
              <span
                class="GNpa5c"
                data-url="https://meet.google.com/about/redirect/landing-learn-more/?hl=en"
                data-impression="6565"
                ><a
                  href="https://meet.google.com/about/redirect/landing-learn-more/?hl=en"
                  target="_blank"
                  rel="noopener"
                  class="IClWHc"
                  >Learn more</a
                >
                about Google Meet</span
              >
            </div>
          </div>
          <div class="C9bDzc">
            <c-wiz class="lpxrTc" data-node-index="1;0"
              ><c-wiz data-node-index="1;0"
                ><div data-present-mode="false">
                  <div class="VdLOD yUoCvf fXx9Lc SL65ee" jsname="Jup3Tc">
                    <div class="FIvd3e">
                      <div class="ox9SMb jginQb" tabindex="0" role="button">
                        <span
                          class="DPvwYc sm8sCf u8klde RoFGbb"
                          aria-hidden="true"
                          ><svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            focusable="false"
                            class="Hdh4hc cIGbvc yvPNTe NMm5M"
                          >
                            <path
                              d="M21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15H3V6h18v13z"
                            ></path>
                            <path
                              d="M9 8h2v2H9zM5 8h2v2H5zm3 8h8v1H8zm5-8h2v2h-2zm-4 4h2v2H9zm-4 0h2v2H5zm8 0h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
                            ></path></svg
                        ></span>
                        <div class="cmvVG">Use a meeting code</div>
                      </div>
                      <div class="sIR20d bnbi0e"></div>
                      <div aria-live="polite" aria-hidden="true">
                        <div aria-label="Agenda. The agenda is empty."></div>
                      </div>
                      <div jsname="HKq5re" class="XdaCre">
                        <div class="LSNDte">
                          <img
                            class="se63he"
                            src="//www.gstatic.com/meet/google_meet_marketing_ongoing_meeting_grid_427cbb32d746b1d0133b898b50115e96.jpg"
                            alt="Image of people in a meeting on Google Meet"
                            data-atf="true"
                            data-iml="6193.020000006072"
                          />
                        </div>
                      </div>
                      <div jsname="dZzsbb" class="d5kC8b L6cTce">
                        <c-wiz data-node-index="1;0"
                          ><div jsname="S0Vhi">
                            <div class="MaqJqd yBxlQb">
                              <div class="c83xBb">Nothing scheduled today</div>
                            </div>
                          </div>
                          <c-data id="i6" jsdata=" c6Dd1d;_;2"></c-data
                        ></c-wiz>
                      </div>
                    </div>
                  </div>
                  <div class="I680R L6cTce" jsname="cDPtp">
                    From your Google Calendar account: richardokonicha@gmail.com
                  </div>
                </div>
                <div style="display: none;" data-impression="6558"></div>
                <c-data id="i5" jsdata=" c6Dd1d;_;2"></c-data></c-wiz
              ><c-data id="i4"></c-data
            ></c-wiz>
            <div class="bpZLge">
              <span
                class="GNpa5c"
                data-url="https://meet.google.com/about/redirect/landing-learn-more/?hl=en"
                data-impression="6565"
                ><a
                  href="https://meet.google.com/about/redirect/landing-learn-more/?hl=en"
                  target="_blank"
                  rel="noopener"
                  class="IClWHc"
                  >Learn more</a
                >
                about Google Meet</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nhh4Ic" data-state="resting">
      <div class="MGUFnf" jsname="LkdAo">
        <div class="A6UUqe LLCa0e iPwZeb" data-loadingmessage="Loading...">
          <div class="bQ7oke" aria-live="assertive" jsname="vyyg5"></div>
          <div class="tbcVO" jsname="LMpJwc">
            <svg
              viewBox="0 0 28 28"
              width="28"
              height="28"
              style="overflow: visible;"
            >
              <defs>
                <marker jsname="hFsbo" id="hFsbo" style="overflow: visible;">
                  <path
                    class="ceIWpc rOhAxb"
                    d="M 1,-1 L 2,0 L 0,0 L 1,-1 z"
                  ></path>
                </marker>
              </defs>
              <path
                class="qjUCkf rOhAxb"
                jsname="Jt5cK"
                d="M 14,1.5 A 12.5,12.5 0 1 1 1.5,14"
                stroke-linecap="square"
              ></path>
            </svg>
          </div>
        </div>
      </div></div
  ></c-wiz>
</body>
